.focus-mode {
  --primary-color: #ebebeb;
  --secondary-color: #222;
  transition: .5s;
}

.break-mode {
  --primary-color: #222;
  --secondary-color: #ebebeb;
  transition: .5s;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.divider {
  border: 1px solid var(--secondary-color);
  width: 50px;
  margin-top: 5px;
}

.timer {
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.countdown {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 16px;
}

.chevron {
  color: var(--secondary-color);
  border: 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
  display: block;
  background-color: transparent;
}

.timer-button {
  border: 2px solid var(--secondary-color);
  padding: 10px 20px 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 14px;
}

.timer-button:active {
  opacity: .8;
  cursor: pointer;
}

.app-wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-container {
  bottom: 0;
  width: 500px;
  position: absolute;
  display: flex;
  object-fit: fill;
}
